<mat-toolbar mat-align-tabs="start" class="toolbarPricipal">
    <mat-toolbar-row class="toolbarSuperior">
      <span>
        <mat-icon class="espacamento">assessment</mat-icon>
        <mat-icon>security</mat-icon>
        <mat-icon color="primary">account_box</mat-icon>
      </span>   
      
      <form class="example-form espacamento">
        <mat-form-field class="example-full-width">
          <mat-label>Pesquisar...</mat-label>
          <input  matInput placeholder="Pesquisar...">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </form>
  
      <span class="example-spacer"></span>
      <button mat-raised-button><mat-icon>filter_list</mat-icon></button>
      <button mat-raised-button color="primary"><mat-icon>account_box</mat-icon> INCLUIR USUÁRIO</button>
      <mat-icon class="espacamento">home</mat-icon>
      <mat-icon class="espacamento">settings</mat-icon>
      <mat-icon class="espacamento">power_settings_new</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="divPagina">
    <app-lista></app-lista>
  </div>
  
  